/* Grid */
#responsivo .column, .columns {
  width: 100%;
  float: left !important;
  box-sizing: border-box !important;
}
/* Alerts */
#responsivo .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
#responsivo .alert h4 {
  margin-top: 0;
  color: inherit;
}
#responsivo .alert {
  font-weight: bold;
}
#responsivo .alert > p,
#responsivo .alert > ul {
  margin-bottom: 0;
}
#responsivo .alert > p + p {
  margin-top: 5px;
}
#responsivo .alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 20px;
}
#responsivo .alert-warning hr {
  border-top-color: #f7e1b5;
}
#responsivo .text-warning {
  color: #8a6d3b;
  margin-bottom: 1rem;
}
#responsivo a.text-danger:hover {
  color: #66512c;
}
#responsivo .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
#responsivo .alert-danger hr {
  border-top-color: #e4b9c0;
}
#responsivo .text-danger {
  color: #a94442;
  margin-bottom: 1rem;
}
#responsivo a.text-danger:hover {
  color: #843534;
}
#responsivo .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
#responsivo .alert-success hr {
  border-top-color: #c9e2b3;
}
#responsivo .text-success {
  color: #3c763d;
  margin-bottom: 1rem;
}
#responsivo a.text-success:hover {
  color: #2b542c;
}
#responsivo .alert-info {
  color: #607D8B;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
#responsivo .alert-info hr {
  border-top-color: #bce8f1;
}
#responsivo .text-info {
  color: #607D8B;
  margin-bottom: 1rem;
}
#responsivo a.text-info:hover {
  color: #31708f;
}
/* Buttons */
#responsivo .button,
#responsivo button,
#responsivo input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
#responsivo .button:hover,
#responsivo button:hover,
#responsivo input[type="button"]:hover,
#responsivo .button:focus,
#responsivo button:focus,
#responsivo input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* Forms */
#responsivo input[type="text"],
#responsivo textarea,
#responsivo select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
#responsivo input[type="text"],
#responsivo textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#responsivo textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
#responsivo input[type="text"]:focus,
#responsivo textarea:focus,
#responsivo select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}
#responsivo label,
#responsivo legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}
#responsivo label {
  width: 100% !important;
  white-space: nowrap !important;
}
#responsivo fieldset {
  padding: 0;
  border-width: 0;
}
#responsivo input[type="checkbox"],
#responsivo input[type="radio"] {
  display: inline;
}
/* Spacing */
#responsivo button,
#responsivo .button {
  margin-bottom: 1rem;
}
#responsivo input,
#responsivo textarea,
#responsivo select,
#responsivo fieldset {
  margin-bottom: 1rem;
}
#responsivo p,
#responsivo ul,
#responsivo ol,
#responsivo form {
  margin-bottom: 2.5rem;
}
/* Utilities */
#responsivo .u-full-width {
  width: 100%;
  box-sizing: border-box;
}
/* Self Clearing Goodness */
#responsivo .row-form:after {
  content: "";
  display: table;
  clear: both;
}
/* Media Queries */
@media only screen and (max-device-width: 767px) {
  #responsivo input[type="text"], #responsivo select, #responsivo label { font-size: 1.2em !important; }
}
@media only screen and (max-width: 420px) {
  #responsivo .row-form { margin-top: 10px !important; }
  #responsivo input[type="button"] { width: 100% !important; padding: 0 10px !important; white-space: nowrap !important; text-overflow: ellipsis !important; overflow: hidden !important; }
}
@media only screen and (min-width: 421px) and (max-width: 767px) {
  #responsivo .row-form { margin-top: 10px !important; }
  #responsivo input[type="button"] { width: 100% !important; padding: 0 10px !important; }
}
@media only screen and (min-width: 768px) {
  #responsivo .column, .columns { margin-right: 1%; }
  #responsivo .column:first-child, #responsivo .columns:first-child { margin-left: 0; }
  #responsivo .one.column, #responsivo .one.columns { width: 7.3333333333% !important; }
  #responsivo .two.columns  { width: 15.3333333333% !important; white-space: nowrap !important; }
  #responsivo .three.columns  { width: 24% !important; }
  #responsivo .four.columns  { width: 32.3333333333% !important; }
  #responsivo .five.columns  { width: 39.6666666666% !important; }
  #responsivo .six.columns  { width: 48% !important; }
  #responsivo .seven.columns { width: 55.3333333333% !important; }
  #responsivo .eight.columns { width: 62.6666666666% !important; }
  #responsivo .nine.columns { width: 70% !important; }
  #responsivo .ten.columns { width: 77.3333333333% !important; }
  #responsivo .eleven.columns { width: 84.6666666666% !important; }
  #responsivo .twelve.columns { width: 100% !important; margin-left: 0; }
}